#color1{
background-color: #ff3832;
border: 2px solid black;
}

#color2{
background-color: green;
border: 2px solid black;
}

#color3{
background-color: blue;
border: 2px solid black;
}

#color4{
background-color: black;
color: white;
border: 2px solid black;
}